@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #151517;
  --foreground-color: #f8fff8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #151517;
    --foreground-color: #f8fff8;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

.socials::before {
  content: '';
  position: absolute;
  height: 50px;
  border: 2.5px solid #45ddfb;
  top: 2px;
  left: -20px;
}
